<li>
  <%= gravatar_for utilisateur, :size => 30 %>
  <%= link_to utilisateur.nom, utilisateur %>
  <%if current_utilisateur.admin? && utilisateur != current_utilisateur %>
  | <%= link_to "Supprimer", utilisateur, :method  => :delete,
                                          :confirm => 'Êtes-vous certain&nbsp;?'.html_safe,
                                          :title   => "Supprimer #{utilisateur.nom}" %>
  <% end %>
</li>
