<h1>Edition du profil</h1>

<%= form_for(@utilisateur) do |f| %>
  <%= render 'champs', :f => f %>
  <div class="actions">
    <%= f.submit "Modifier" %>
  </div>
<% end %>

<div>
  <%= gravatar_for @utilisateur %>
  <a href="http://gravatar.com/emails" target="_blank">changer</a>
</div>
