<table class="profile" summary="Information sur le profil">
  <tr>
    <td class="main">
      <h1>
        <%= gravatar_for @utilisateur %>
        <%= @utilisateur.nom %>
      </h1>
    </td>
    <td class="sidebar round">
      <strong>Nom</strong> <%= @utilisateur.nom %><br />
      <strong>URL</strong> <%= link_to utilisateur_path( @utilisateur), @utilisateur %>
    </td>
  </tr>
</table>
