<header>
  <%= image_tag("logo.png", :alt => "Application Exemple", :class => "round") %>
  <nav class="round">
    <ul>
      <li><%= link_to "Accueil", '#'  %></li>
      <li><%= link_to "Aide", '#' %></li>
      <li><%= link_to "Inscription", '#' %></li>
    </ul>
  </nav>
</header>
